@import url("style.css");


.menu a[href="resume.html"] {
    text-decoration: underline; /* Underline the Home link */
    text-underline-offset: 4px; /* Add some space between the text and the underline */
}



.resume-title { 
    font-size: 2rem; /* Adjusted for better scaling */
    margin-bottom: 2rem; /* Add some space between the header and the menu */
}

.subtitle {
    font-size: 1.5rem; /* Adjusted for better scaling */
    margin-bottom: 1rem; /* Add some space between the header and the menu */
}

#curly-brace
{
  width: 150px;
  position: absolute;
  margin-left: 50px;
  top: 300px;
  transform: rotate(90deg); /* Rotate the element by 90 degrees */
}

.brace
{
  border-bottom: 5px solid;
  margin: 0 10%;
  width: 30%;
  height: 20px;  
  float: left;
}

.brace:before,
.brace:after
{
  content: "";
  width: 10%;
  height: 50px;
  position: absolute;
  display: block;
}

#left:before
{  
  border-bottom: 5px solid;  
  border-bottom-left-radius: 20px;
  margin-left: -10%;
  margin-top: -30px;
}

#left:after
{
  border-top: 5px solid;
  border-top-right-radius: 20px;
  margin-left: 30%;
  margin-top: 20px;    
}

#right:before
{
  border-top: 5px solid;
  border-top-left-radius: 20px;
  margin-left: -10%;
  margin-top: 20px;
}

#right:after
{
  border-bottom: 5px solid;
  border-bottom-right-radius: 20px;
  margin-left: 30%;
  margin-top: -30px;
}

.education{
    margin-left: 15%;
    margin-top: 7%;
}

.education ul {
    list-style-type: none; /* Remove any bullet points or numbers */
    padding-left: 0; /* Remove any padding */
  }

  .education li {
    margin-bottom: 10px; /* Space between items */
    font-size: 1.1rem; /* Optional: adjust text size */
}

