
@import url("style.css");


.menu a[href="project.html"] {
    text-decoration: underline; /* Underline the Home link */
    text-underline-offset: 4px; /* Add some space between the text and the underline */
}



.FullLogoImage {
    width: 20%;
    height: auto;
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the logo */
    display: block; /* Ensure it's a block element for centering */
}

.Logo1Image {
    width: 10%;
    height: auto;
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the logo */
    display: block; /* Ensure it's a block element for centering */
}
.Logo2Image {
    width: 10%;
    height: auto;
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the logo */
    display: block; /* Ensure it's a block element for centering */
}
.Logo3Image {
    width: 10%;
    height: auto;
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the logo */
    display: block; /* Ensure it's a block element for centering */
}
.Logo4Image {
    width: 10%;
    height: auto;
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the logo */
    display: block; /* Ensure it's a block element for centering */
}