@import url("style.css");


.menu a[href="resume.html"] {
    text-decoration: underline; /* Underline the Home link */
    text-underline-offset: 4px; /* Add some space between the text and the underline */
}



.resume-title { 
    font-size: 2rem; /* Adjusted for better scaling */
    margin-bottom: 2rem; /* Add some space between the header and the menu */
}

.subtitle {
    font-size: 1.5rem; /* Adjusted for better scaling */
    margin-bottom: 1rem; /* Add some space between the header and the menu */
}
.resume-title {
  font-size: 2rem;
  margin-bottom: 10%;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 1%;
}

/* Timeline Container */
.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

/* Timeline Item */
.timeline-item {
  position: relative;
  padding-left: 40px;
}

.timeline-line {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #93EAD6;
  animation: pulse 5s infinite;
}

.timeline-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-content ul {
  list-style-type: none;
  margin-top: 10px;
}

.timeline-content ul li {
  margin-bottom: 8px;
}

/* Pulse Effect */
@keyframes pulse {
  0% {
    background-color: #93EAD6;
  }
  50% {
    background-color: #D5E2DF;
  }
  100% {
    background-color: #79e0c8;
  }
}
