@import url("style.css");


.menu a[href="resume.html"] {
    text-decoration: underline; /* Underline the Home link */
    text-underline-offset: 4px; /* Add some space between the text and the underline */
}

.resume{
  margin-left: 10%;
  width: 80%;
  justify-content: center;

}

.resume-title { 
    font-size: 2.5em; /* Adjusted for better scaling */
    margin-top: 2.5%; /* Space above the title */
    margin-bottom: 5%; /* Add some space between the header and the menu */
    text-align: center;
  }

.subtitle {
    font-size: 1.5rem; /* Adjusted for better scaling */
    margin-bottom: 1rem; /* Add some space between the header and the menu */
}


.subtitle {
  font-size: 1.5rem;
  margin-top: 1%;
}

/* Timeline Container */
.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

/* Timeline Item */
.timeline-item {
  position: relative;
  padding-left: 40px;
}

.timeline-line {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--image-accentcolor);
  animation: pulse 5s infinite;
}

.timeline-content {
  background-color: var(--bg-color);
  color: var(--text-color); /* Ensure text is visible */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(1, 22, 18, 0.1);
  font-size: 1rem;
  list-style-type: disc;
}

.timeline-content ul {
  margin-top: 10px;
  padding-left: 3%;
  position: relative;
  list-style-type: disc;
}

.timeline-content ul li {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: disc;
}

.point-title {
  max-width: 70%;
  text-align: left;
}

.date {
  font-size: 0.9rem;
  white-space: nowrap;
  text-align: right;
}
/* Pulse Effect */
@keyframes pulse {
  0% {
    background-color: var(--image-darkcolor);
  }
  50% {
    background-color: var(--image-lightcolor);
  }
  100% {
    background-color: var(--image-accentcolor);
  }
}
